.legal {
  padding: 20px 0;
  
  border-block-start: 1px solid #3a3a3a;
}

.legal__text {
  margin: 0;

  font-size: 12rem;
  line-height: 12rem;
}

@media (min-width: $desktop) {
  .legal {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
  }
}