.link {
  font-size: 13rem;
  line-height: 13rem;
  color: #a7c353;
  text-align: end;
  text-decoration: none;
}

.link--footer {
  font-size: 12rem;
  line-height: 14.4rem;
}

.link:hover {
  color: #6f842e;
}

.link:active {
  color: #a7c353;
}