.logo {
  display: inline-block;
  
  color: #999999;
  text-decoration: none;
}

.logo__title {
  margin: 0;
  
  font-size: 26rem;
}

.logo__subtitle {
  margin: 0;
  
  font-size: 12rem;
  line-height: 12rem;
  text-transform: capitalize;
}