.section__title {
  margin: 30px 0;

  font-size: 22rem;
  line-height: 26.4rem;
  font-weight: normal;
  color: #666666;
}

.section__title--footer {
  margin: 10px 0;
  padding-block: 15px;
  
  font-size: 16rem;
  line-height: 19.2rem;
  color: #fff;

  border-block-end: 1px solid #3a3a3a;
}

.section__linkWrapper {
  text-align: end;
}