html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #283136;

    background: #fff;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    font: inherit;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    padding: 17px 40px 15px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    background-color: #fb565a;
    border: none;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #e74246;
}

.btn:active {
    color: rgba(255, 255, 255, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.btn-xl {
    min-width: 240px;
}

.btn--green {
    background-color: #00ca74;
}

.btn--green:hover,
.btn--green:focus {
    background-color: #00bc6c;
}

.btn--green:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

.btn--yellow {
    background-color: #efc84a;
}

.btn--yellow:hover,
.btn--yellow:focus {
    background-color: #eab534;
}

.btn--yellow:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}

.btn--gray {
    color: #000;

    background-color: #eeeeee;
}

.btn--gray:hover,
.btn--gray:focus {
    background-color: #dfdfdf;
}

.btn--gray:active {
    color: rgba(0, 0, 0, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.page-header {
    line-height: 30px;
    text-transform: uppercase;

    background: #eeeeee;
}

.page-header a {
    font-weight: 500;
    color: #000;
}

.page-nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.site-nav a:hover,
.site-nav a:focus,
.header-cart a:hover,
.header-cart a:focus {
    color: #fb565a;

    border-bottom: 2px solid #fb565a;
}

.site-nav a:active,
.header-cart a:active {
    color: #000;

    border-bottom: 2px solid #fb565a;
}

.page-nav .current-section {
    border-bottom: 2px solid #fb565a;
}

.header-logo {
    flex-basis: 320px;
    margin-right: 20px;
}

.logo:active {
    opacity: 0.3;
}

.site-nav {
    display: flex;
    padding: 0;
    margin: 0 20px;
    list-style: none;
}

.site-nav li + li {
    margin-left: 46px;
}

.site-nav a {
    display: block;
    padding-top: 6px;

    border-bottom: 2px solid transparent;
}

.header-cart {
    display: flex;
    flex-basis: 320px;
    align-items: center;
    justify-content: flex-end;
    padding-top: 6px;
    margin-left: 20px;
}

.header-cart a {
    position: relative;
    padding-left: 40px;
    border-bottom: 2px solid transparent;
}

.header-cart a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 15px;
    height: 15px;

    background: url("../img/cart-icon.svg") center no-repeat;
}

.features {
    background: #eeeeee;
}



/* ..promo-slider */
.promo-slider {
    position: relative;
}

.slides {
    margin: 0;
    padding: 0;

    line-height: 24px;

    list-style: none;
}

.slides h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slides-switcher {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.slides-switcher li + li {
    margin-left: 15px;
}

.slides-switcher .switcher-option {
    width: 18px;
    height: 18px;
    padding: 0;

    background: #fff;
    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.slides-switcher .switcher-option--current {
    background: radial-gradient(circle, #fff 2px, #ccc 2px, #ccc 4px, #fff 4px);
}



.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    line-height: 24px;

    list-style: none;
}

.services-list h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.services-item {
    flex-basis: calc((100% - 200px) / 3);
}

.about {
    display: flex;
    justify-content: space-between;

    line-height: 24px;
}

.about h2 {
    color: #000000;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.about h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.about .parameter {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
}

.about-desc {
    flex-basis: 660px;
}

.about-numbers {
    flex-basis: 360px;

    text-align: center;
}

.params {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.portfolio {
    margin-bottom: 80px;
    padding: 45px 0;

    border: 2px solid #eeeeee;
    border-left: none;
    border-right: none;
}

.portfolio-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style: none;
}

.portfolio-list a {
    opacity: 0.2;
}

.portfolio-list a:hover {
    opacity: 1;
}

.portfolio-list a:focus {
    opacity: 0.1;
}

.map {
    width: 100%;
    height: 416px;
    object-fit: cover;
}

.address {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    padding: 37px 50px 40px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: #666666;

    background: #fff;
}

.address h3 {
    margin: 0;
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.address .street {
    margin: 0;
    margin-bottom: 20px;
}

.address .tel {
    margin: 0;
    margin-bottom: 35px;
}

.address .btn {
    width: 220px;
}

.social {
    flex-basis: 260px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 20px;
    padding: 0;

    list-style: none;
}

.social a {
    position: relative;

    display: block;
    width: 79px;
    height: 79px;

    border-radius: 50%;
    background: #e1e1e1;
}

.social a:hover,
.social a:focus {
    background: #e74246;
}

.social a:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background: #d7373b;
}

.social a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social--vk::before {
    width: 26px;
    height: 15px;

    background: url("../img/vk-icon.svg") no-repeat;
}

.social--fb::before {
    width: 12px;
    height: 22px;

    background: url("../img/fb-icon.svg") no-repeat;
}

.social--insta::before {
    width: 21px;
    height: 21px;

    background: url("../img/insta-icon.svg") no-repeat;
}

.social a:active::before {
    opacity: 0.3;
}

.sale {
    margin-left: 120px;

    line-height: 22px;
    color: #444444;
}

.sale p {
    margin: 0;
}

.sale .friends {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}



/* ..modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: none;
    width: 90%;
}



/* ..modal-overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: none;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}



/* ..modal-feedback */
.modal-feedback {
    max-width: 960px;
    padding: 75px 100px 85px;

    line-height: 18px;

    background: #fff;
}

.modal-feedback h2 {
    margin: 0;
    margin-bottom: 42px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.modal-feedback .input-title {
    display: block;
    margin-bottom: 8px;

    font-weight: 700;
}

.modal-feedback input,
.modal-feedback textarea {
    width: 100%;
    padding: 14px 10px;

    color: #444444;

    border: 2px solid #d7dcde;
}

.modal-feedback textarea {
    min-height: 118px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
    border-color: #b4b9bb;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
    border-color: #000000;
}

.modal-feedback input:invalid {
    color: #e74246;

    border: 2px solid #e74246;
}

.modal-feedback input::placeholder,
.modal-feedback textarea::placeholder {
    color: rgba(68, 68, 68, 0.4);
}

.field-group {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 35px;
}

.field-group label {
    flex-basis: 360px;
}

.form-field {
    margin: 0;
    margin-bottom: 43px;
}

.modal-feedback .btn {
    width: 260px;
}



/* ..modal-close */
.modal-close {
    position: absolute;
    top: 85px;
    right: 90px;

    width: 21px;
    height: 21px;

    background: url("../img/modal-close.svg") center / cover no-repeat;
    border: none;
    cursor: pointer;
}



/* .. */
.page-title {
    margin: 0;
    padding: 48px 0 108px;
    color: #000000;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
    background: #eeeeee;
}



/* ..filters */
.filters {
    width: 260px;
}



/* ..filters-form */
.filters-form fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filters-form fieldset:first-of-type {
    margin-bottom: 55px;
}

.filters-form fieldset:last-of-type {
    margin: 47px 0 54px;
}

.filters-form legend {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.05px;
}

.filters-form ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filters-form li + li {
    margin-top: 22px;
}

.filters-form .btn {
    width: 100%;
}

.filters-form .option {
    position: relative;

    padding-left: 2.3em;

    cursor: pointer;
}

.standard-input + .custom-radio {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;
    width: 24px;
    height: 24px;

    background: #fff;
    border: 4px solid #a6a6a6;
    border-radius: 50%;
}

.standard-input:checked + .custom-radio {
    background: radial-gradient(circle, #a6a6a6 4px, #fff 4px);
}

.standard-input:focus + .custom-radio {
    outline: 3px solid lightskyblue;
}

.standard-input + .custom-checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;
    width: 24px;
    height: 24px;

    background: url("../img/checkbox-off.svg") center / 100% 100% no-repeat;
}

.standard-input:checked + .custom-checkbox {
    width: 28px;

    background-image: url("../img/checkbox-on.svg");
}

.standard-input:focus + .custom-checkbox {
    /* outline: 3px solid lightskyblue; */
}



/* ..results */
.results {
    flex-basis: 760px;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    list-style: none;
}

.results-item {
    position: relative;
    flex-basis: 360px;
    margin-bottom: 28px;
    padding-top: 41px;
    overflow: hidden;
}

.results-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:
        radial-gradient(circle closest-corner at 23px, #fff 7px, transparent 0),
        radial-gradient(circle closest-corner at 46px, #fff 7px, transparent 0),
        radial-gradient(circle closest-corner at 69px, #fff 7px, transparent 0),
        #e9e9e9;
}

.results-item:hover::before {
    background-color: #4d4d4d;
}

.item-details {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    padding: 35px 80px 45px;

    text-align: center;

    background: #eeeeee;

    transition: 0.2s;
}

.results-item:hover .item-details {
    transform: translateY(0);
}

.item-details .desc {
    display: block;
    margin-bottom: 30px;
    color: #666666;
}

.item-details h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.item-details .btn {
    width: 100%;
}

.sort {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}

.sort-type,
.sort-sequence {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-type {
    margin-left: auto;
    margin-right: 26px;
}

.sort-type li + li {
    margin-left: 26px;
}

.sort-sequence {
    margin-left: 20px;
}

.sort-sequence li + li {
    margin-left: 20px;
}

.sort-sequence a {
    position: relative;

    display: inline-block;
    width: 11px;
    height: 10px;
}

.sort-sequence :not(.current) {
    opacity: 0.7;
}

.sort-sequence .down::before,
.sort-sequence .up::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 11px;
    height: 10px;
}

.sort-sequence .down::before {
    background: url("../img/sort-down-icon.svg") no-repeat;
}

.sort-sequence .up::before {
    background: url("../img/sort-up-icon.svg") no-repeat;
}

.sort p {
    margin: 0;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.sort-type {}

.sort-type a {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.sort-type a:hover,
.sort-type a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-type a:active {
    color: rgba(0, 0, 0, 1);
}

a.sort-type__current {
    color: #000000;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination a {
    display: inline-block;
    padding: 14px 17.5px 12px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background-color: #eeeeee;
    border: 3px solid transparent;
}

.pagination a:hover,
.pagination a:focus {
    background-color: #dfdfdf;
}

.pagination a:active {
    color: rgba(0, 0, 0, 0.3);

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination li + li {
    margin-left: 11px;
}

.pagination li:last-child a {
    width: 260px;
}

.pagination .current {
    border-color: #dbdbdb;
    background-color: #fff;
    pointer-events: none;
}

.slides-item {
    display: flex;
}

.slides-img {
    flex-grow: 1;
    position: relative;
    z-index: 0;

    min-height: 430px;
}

.slides-item img {
    display: block;
    width: 100%;
    height: auto;
}

.page-footer {
    margin-top: 60px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 70px;
}

.contacts {
    position: relative;

    min-height: 416px;
}

.contacts .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
}

.range legend {
    margin-bottom: 46px;
}

.range .slider {
    position: relative;

    width: 261px;
    height: 80px;

    background:
        linear-gradient(to right, #00ca74 152px, #d7dcde 0) center / 220px 2px no-repeat,
        #eeeeee;
}

.range .slider::before,
.range .slider::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;

    background:
        radial-gradient(circle at center, #ababab 2px, transparent 0),
        #fff;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.range .slider::before {
    left: 20px;
}

.range .slider::after {
    right: 80px;
}

.range-field {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 0;
}

.range-field label {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 22px;
    color: #283136;
    text-transform: uppercase;
}

.range-field input {
    max-width: 80px;
    margin-left: 10px;
    padding: 8px 10px;

    font-size: 16px;
    line-height: 22px;
    color: #283136;
    text-align: center;

    background-color: #eeeeee;
    border: none;
}



/* ..modal-show */
.modal-show {
    display: block;
}