html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  color: $primaryColor;

  overflow-y: scroll;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

img:not([alt]) {
  border: 5px solid red;
}

button {
  cursor: pointer;
}

.srOnly {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}