@import "variables.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: none;
  width: 100%;
  max-width: 460px;
  
  background: $bg-color--primary;
  box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
}

.modal--show {
  display: block;
}

.modal__close-btn:hover {
  border: none;
}