@import "variables.scss";

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 0 29px;
}

.section-header__title {
  flex-basis: 100%;
  margin: 0;

  text-align: center;
}

.section-header__btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .section-header {
    margin: 0 0 68px;
  }

  .section-header__title {
    flex-basis: auto;

    text-align: left;
  }

  .section-header__btn {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .section-header__title {
    margin-left: 70px;
  }
}