.modal {
  /* Позиционирование относительно области просмотра и по центру */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Расположение модального окна выше потоковых элементов и выше подложки */
  z-index: 2;

  /* По умолчанию окно скрыто через "display: none" */
  display: none;

  /* Настройки максимальной ширины (если нужно) */
  width: 100%;
  max-width: 566px;

  background: #fff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

/* Отдельный класс отображения окна, который будет включаться через JS */
.modal--show {
  display: block;
}