.modalUnderlay {
  /* Позиционирование относительно области просмотра и по всей ширине и высоте */
  position: fixed;
  top: 0;
  left: 0;

  /* Расположение подложки выше потоковых элементов */
  z-index: 1;

  /* По умолчанию подложка скрыта через "display: none" */
  display: none;

  /* Максимальные размеры области просмотра */
  width: 100vw;
  height: 100vh;

  /* Полупрозрачная подложка, если нужно */
  background: rgba(255, 255, 255, 0.9);
}

/* Отдельный класс отображения подложки, который будет включаться через JS */
.modalUnderlay--show {
  display: block;
}