.thumbs {
  display: flex;
  justify-content: center;
}

.thumbs__list {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 3px;
  
  list-style: none;
}

.thumbs__item {
  margin-block: 20px;
}

.thumbs__btn {
  display: block;
  inline-size: 15px;
  block-size: 15px;
  padding: 0;

  background: #a7c353;
  border: 2px solid #a7c353;
  border-radius: 50%;
  cursor: pointer;
}

.thumbs__btn:hover {
  background: #8eaa3c;
  border-color: #8eaa3c;
}

.thumbs__btn:active {
  background: #a7c353;
  border-color: #a7c353;
}

.thumbs__item--active .thumbs__btn {
  background: #fff;
  border-color: #a7c353;
  cursor: auto;
}