.fake {
  position: relative;
  
  padding: 30px;
}

.fake__title {
  margin-block-end: 10px;

  font-size: var(--fontSize-18-48);
  font-weight: 600;
}

.fake__titleStrong {
  color: #FF4D00;
}

.fake__desc {
  margin-block-end: 20px;

  font-size: var(--fontSize-14-24);
}

.fake__link {
  display: block;
  margin-block-end: 20px;

  text-align: center;
}

.fake__image1 {
  display: block;
  margin-inline: auto;
}

.fake__title2 {
  margin-block-end: 10px;

  font-size: var(--fontSize-24-36);
}

.fake__smallStrong {
  font-size: var(--fontSize-18);
  font-weight: 600;
}

.fake__footerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.fake__image2 {
  display: none;
}


@media (min-width: 0) and (max-width: $screen-middle){
  .fake {
    position: relative;
    inset-inline-start: 50%;

    inline-size: 100vw;
    margin-inline-start: -50vw;
  }
}


@media (min-width: $screen-middle){
  .fake::before,
  .fake::after {
    content: "";
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: -50px;
    inset-block-end: -120px;
    z-index: -1;

    inline-size: 100vw;
    margin-inline-start: -50vw;
  }
  
  .fake::before {
    // inset-block-end: 50px;
    
    background-image: var(--bg-gradient);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }

  .fake::after {
    // inset-block-end: 0;
    
    background-color: #ffffff;
    clip-path: polygon(0 0 , 100% 100%, 0 100%);
  }
  
  .fake__header {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  .fake__image1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    align-self: center;
  }

  .fake__link {
    display: none;
  }

  .fake__footer {
    display: grid;
    grid-template-columns: minmax(min-content, 700px) 1fr;
    column-gap: 20px;
  }

  .fake__title2 {
    align-self: end;
  }

  .fake__footerImg {
    grid-row: -3 / span 2;
    grid-column: -2 / span 1;
    justify-self: end;
  }

  .fake__image2 {
    display: block;
  }
}